.dynamic {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* layout for the widjets and drop zone */
  .container {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
  }
  
  /* the draggable widgets container */
  .widgets {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  /* the individual draggable widgets */
  .widget {
    background-color: grey;
    color: white;
    padding: 15px 25px;
    border-radius: 4px;
    cursor: grab;
    font-weight: bold;
    width: 200px;
    text-align: left;
  }
  
  .widget:active {
    cursor: grabbing;
  }
  
  /* the drop zone */
  .page {
    width: 250px;
    min-height: 250px;
    padding: 10px;
    background-color: #444;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 5px;
  }
  
  /* the dropped widgets */
  .dropped-widget {
    background-color: grey;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    font-weight: bold;
    width: 100%;
    text-align: left;
  }
  