.containerForm {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

textarea {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

input {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.form-buttons {
    margin-top: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.save {
    background-color: #89CFF0;
    padding: 8px;
    border-radius: 6px;
    border-color: #ccc;
    padding-left:75px;
    padding-right: 75px;
    padding-top: 15px;
    padding-bottom: 15px;
    flex: 0 0 40%; 
    /* taking up 40% of the parent container */

}

.preview {
    background-color: #6c757d;
    padding: 8px;
    border-radius: 6px;
    border-color: #ccc;
    padding-left:80px;
    padding-right: 80px;
    padding-top: 15px;
    padding-bottom: 15px;
    flex: 0 0 40%;
    /* taking up 40% of the parent container */

}

.submit {
    background-color: #3f44b6;
    padding: 8px;
    border-radius: 6px;
    border-color: #ccc;
    padding-left:60px;
    padding-right: 60px;
    padding-top: 15px;
    padding-bottom: 15px;
    flex: 0 0 100%;

}

.submit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.header {
    text-align: center;
}

hr {
    height: 3px;
    background-color: black;
    border: none;
    border-radius: 5px;
}

.displayed-images {
    overflow: hidden;
    overflow-y: auto;  
    scrollbar-width: thin; 
    scrollbar-color: #888 #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pop-but-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.pop-button {
    background-color: gray;
    border-radius: 6px;
    border-color: #ccc;
    padding-left:60px;
    padding-right: 60px;
    padding-top: 15px;
    padding-bottom: 15px;
    flex: 0 0 100%;
}

.pop-button:hover {
    background-color: red;
}